body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

.App {
  text-align: center;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-data {
  max-height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {
  height: 100%;
}

#root > [data-reactroot] {
  height: 100%;
}

.data_table {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin: 20px;
    overflow: auto;
    text-align: left;
}

.data_table.fetching {
  opacity: .3;
}

.data_table.empty {
  justify-content: center;
}

.data_row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex: 1 1 100%;
    padding: 10px;
    border-bottom: 1px solid #222;
}

.data_row:hover .data_cell:first-child {
  text-decoration: underline;
}

.data_row:hover .data_cell_save {
  visibility: visible;
}

.data_cell {
    display: flex;
    flex: 3;
    align-items: center;
    padding: 0 8px;
    min-width: 6em;
}

.data_cell_tels {
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
}

.data_cell_tels .data_number {
  text-align: right;
}

.data_cell_save {
  visibility: hidden;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.data_cell_save:hover {
  text-decoration: underline;
  cursor: pointer;
}

.data_cell_save .saved {
  display: none;
}

.data_cell_save__saved .saved{
  display: block;
}

.data_cell_save .unsaved {
  display: block;
}

.data_cell_save__saved .unsaved {
  display: none;
}

.search_pannel{
    display: flex;
    margin: 20px 0;
}

.search_form {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    height: 36px;
}

.search_input {
    width: 664px;
    padding: 5px 9px;
    line-height: 36px;
    font: 16px arial, sans-serif;
}

@media all and (max-width: 800px) {
    .search_input {
        width: 70%;
    }

    .App-sidebar {
      display: none;
    }
}

.App-sidebar {
  width: 710px;
  position: fixed;
  height: 100%;
  background: gold;
  left: -700px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: auto;
}

.App-sidebar:hover {
  left: 0;
}

.sidebar_title {
  margin: 10px 0;
}

.pagination_wrapper {
  padding: 20px 0;
  width: 100%;
  color: #222;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination .page {
  padding: 0 5px;
  cursor: pointer;
  user-select: none;
  color: #4285f4;
  text-decoration: none;
}

.pagination .page.active {
  color: rgba(0,0,0, .87);
}

.pagination .page:hover {
  text-decoration: underline;
}

.pagination .page_left {
  padding-left: 15px;
}

.pagination .page_right {
  padding-right: 15px;
}

.links-list {
  display: flex;
  justify-content: center;
  background-color: gold;
}

.links-list_link {
  width: 100%;
  text-decoration: none;
  color: #222;
}

@media all and (min-width: 801px) {
  .links-list {
    display: none;
  }
}